@using WebAppAspNetMvcJs.Models
@model Book

@{
    Layout = null;
}


<h3>Книга</h3>

@using (Html.BeginForm("Edit", "Books", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()

    <button class="btn btn-primary" onclick="PostEdit()">Сохранить</button>
    @Html.ActionLink("Отменить", "Index", "Books", null, new { @class = "btn btn-danger" })
}
